/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.client {
  a:hover {text-decoration: none;}

  .navbar {
    background: rgb(0, 0, 0, 1);
    color: #fff;
    z-index: 9999;
  }

  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .active > .nav-link {color: #b48619; border-bottom: 1px solid #b48619; }
  .navbar-brand span {color: #b48619;}

  .navbar-collapse {font-size: 12px;}

  .navbar-dark .navbar-nav .nav-link {color: #fff;}

  .form-control:focus {box-shadow: none;}


  .card {background: none;}

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
  }
  //product
  .productImgWrapper{height: 16rem;}
}
html:lang("en") .lang-align{text-align: left;}
// arabic style
html:lang("ar"){
  text-align: right;
  .lang-align{text-align: right !important;}
}

