<div class="col-md-6 offset-md-3 my-5 pt-5">
  <div class="card">
      <h4 class="card-header">Reset password</h4>
      <div class="card-body">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="newPassword">New password</label>
              <input type="Password" formControlName="newPassword" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && formFields.newPassword.errors }" />
              <div *ngIf="submitted && formFields.newPassword.errors" class="invalid-feedback">
                  <div *ngIf="formFields.newPassword.errors.required">New password is required</div>
              </div>
          </div>
          <div class="form-group">
              <label for="confirmPassword">Confirm password</label>
              <input type="Password" formControlName="confirmPassword" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && formFields.confirmPassword.errors }" />
              <div *ngIf="submitted && formFields.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="formFields.confirmPassword.errors.required">Confirm password is required</div>
              </div>
          </div>

          <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Submit
          </button>
        </form>
      </div>
    </div>
</div>
