<div class="client">
  <app-client-header></app-client-header>
</div>
<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
      <h4 class="card-header text-center">{{'register.title'|translate}}</h4>
      <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="username">{{'register.username'|translate}}</label>
                  <input formControlName="username" type="text" class="form-control" placeholder="User Name" name="username" [class.is-invalid]="formFields.username?.invalid && formFields.username?.touched">
                  <div *ngIf="formFields.username?.invalid && formFields.username?.touched">
                      <small class="text-danger" *ngIf="formFields.username?.errors.required">{{'register.usernameReq'|translate}}</small>
                  </div>
              </div>
              <div class="form-group">
                  <label for="password">{{'register.password'|translate}}</label>
                  <input formControlName="password" type="password" class="form-control" placeholder="Password" name="password" [class.is-invalid]="formFields.password?.invalid && formFields.password?.touched">
                  <div *ngIf="formFields.password?.invalid && formFields.password?.touched">
                      <small class="text-danger" *ngIf="formFields.password?.errors.required">{{'register.passwordReq'|translate}}</small>
                  </div>
              </div>
              <div class="form-group">
                <label for="password">{{'register.confirmPassword'|translate}}</label>
                <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm password" name="confirmPassword" [class.is-invalid]="formFields.confirmPassword?.invalid && formFields.confirmPassword?.touched">
                <div *ngIf="formFields.confirmPassword?.invalid && formFields.confirmPassword?.touched">
                    <small class="text-danger" *ngIf="formFields.password?.errors.required">{{'register.confirmPasswordReq'|translate}}</small>
                </div>
              </div>
              <div class="form-group">
                  <label for="email">{{'register.email'|translate}}</label>
                  <input formControlName="email" type="email" class="form-control" placeholder="Email" name="email" [class.is-invalid]="formFields.email?.invalid && formFields.email?.touched">
                  <div *ngIf="formFields.email?.invalid && formFields.email?.touched">
                      <small class="text-danger" *ngIf="formFields.email?.errors.required">{{'register.emailReq'|translate}}</small>
                  </div>
              </div>
              <div class="form-group">
                  <label for="fullName">{{'register.fullName'|translate}}</label>
                  <input formControlName="fullName" type="text" class="form-control" placeholder="First Name" name="fullName" [class.is-invalid]="formFields.fullName?.invalid && formFields.fullName?.touched">
                  <div *ngIf="formFields.fullName?.invalid && formFields.fullName?.touched">
                      <small class="text-danger" *ngIf="formFields.fullName?.errors.required">{{'register.fullNameReq'|translate}}</small>
                  </div>
              </div>
              <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                {{'register.registerBtn'|translate}}
              </button>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          </form>
      </div>
  </div>
</div>
<app-client-footer></app-client-footer>
