<!-- <div class="sec_name clothes position-relative ">
  <div class="overlay position-absolute"></div>
  <div class="text text-capitalize text-center text-white position-absolute">
    <h1 class="text-uppercase">Shop</h1>
    <a class="px-2" routerLink="" >home</a>
    <span class="px-2">Shop</span>
  </div>
</div> -->

<!--************* End section name *********************-->

<!---------------- Start section content  ------------------>
<div class="sec_content container">
  <div class="row">
    <div class="sec_head col-12 py-3 my-5 font-weight-bold">
      <div class="text-center text-uppercase">{{'shop.title' | translate}}</div>
    </div>
    <!-------------------- products ------------------>
    <div class=" products col-12" *ngIf="hasProducts">
      <h2 class="text-center mb-3"> {{'shop.allProducts' | translate}} </h2>
      <div class="row">
        <!-- foreach product  -->
        <div class="col-md-4 box mb-4" *ngFor="let product of productsPerPage">
          <div class="image position-relative overflow-hidden productImgWrapper">
              <img class="w-100" [src]="createImgPath(product.image)" alt="img1">
              <img class="top w-100 position-absolute" [src]="createImgPath(product.image)" alt="img1">
            <div class="quickview position-absolute w-100 main_color text-center"><i class="fas fa-eye"></i> Quickview
            </div>
          </div>
          <div class="details">
            <p *ngIf="siteLang =='en'">{{ product.name }}</p>
            <p *ngIf="siteLang =='ar'">{{ product.nameAr }}</p>
          </div>
          <div class="btn btn-secondary border-top py-2" *ngIf="isLoggedIn()">
            <div class="add_chart float-left" (click)="Buy(product.id)">
              <i class="fas fa-shopping-bag"></i>&nbsp; {{'shop.buy' | translate}}
            </div>
          </div>
        </div>
        <!-- pagination -->
        <nav aria-label="..." class="col-12 mt-5">
          <div class="d-inline-block">
            <ul class="pagination">
              <li class="page-item"
                [ngClass]="{disabled:currentPageNumber <=1, cursorNotAllowed:currentPageNumber <=1}">
                <button class="page-link" [disabled]="currentPageNumber <=1"
                  (click)="getSelectedPage(currentPageNumber-1)">{{'shop.previos' | translate}}</button>
              </li>
              <li class="page-item" *ngFor='let x of counter(numberOfPages);let i = index'
                [class.active]="currentPageNumber == (i+1)">
                <a class="page-link" (click)="getSelectedPage(i+1)">{{i+1}} </a>
              </li>
              <li class="page-item"
                [ngClass]="{disabled:currentPageNumber >=numberOfPages, cursorNotAllowed:currentPageNumber >=numberOfPages}">
                <button class="page-link" [disabled]="currentPageNumber >= numberOfPages"
                  (click)="getSelectedPage(currentPageNumber+1)">{{'shop.next' | translate}}</button>
              </li>
            </ul>
          </div>
          <div class="float-right h5 mr-4 text-secondary">{{'shop.showing' | translate}} {{currentPageNumber}} {{'shop.of' | translate}} {{numberOfPages}}</div>
        </nav>
      </div>
    </div>
    <!-- no items to show alert -->
    <div class="text-center alert alert-danger col-9 mx-auto" *ngIf="!hasProducts">
      {{'shop.noProducts' | translate}}
    </div>
  </div>
</div>
<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill"><i class="fas fa-star fa-xs"></i></span><i class="fas fa-star fa-xs"></i>
  </span>
</ng-template>