<div class="footer text-white">
  <div class="contact">
    <div class="container">
      <h2 class="text-center">{{'footer.description'|translate}}</h2>
    </div>
  </div>

  <div class="copyright text-center text-capitalize py-4">
    &copy; {{'footer.rights'|translate}} 
  </div>
</div>
