<div class="client">
    <app-client-header></app-client-header>
</div>
<div class="col-md-6 offset-md-3 my-5 pt-5">
    <div class="card">
        <h4 class="card-header text-center">{{'login.title'|translate}}</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class="d-block lang-align" for="username">{{'login.username'|translate}}</label>
                    <input type="text" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && formFields.username.errors }" />
                    <div *ngIf="submitted && formFields.username.errors" class="invalid-feedback">
                        <div *ngIf="formFields.username.errors.required">{{'login.usernameReq'|translate}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="d-block lang-align" for="password">{{'login.password'|translate}}</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && formFields.password.errors }" />
                    <div *ngIf="submitted && formFields.password.errors" class="invalid-feedback">
                        <div *ngIf="formFields.password.errors.required">{{'login.passwordReq'|translate}}</div>
                    </div>
                </div>

                <a href="" class="d-block my-3 lang-align" data-toggle="modal" data-target="#resetPassword">
                    {{'login.forgotPassword'|translate}}
                </a>
                <button [disabled]="loading" class="btn btn-primary lang-align">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{'login.loginBtn'|translate}}
                </button>
                
            </form>
        </div>
    </div>
</div>
<app-client-footer></app-client-footer>



<!-- Modal -->
<div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog forgotPassModal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">{{'forgotPasswordForm.title'|translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  <input #forgotPassEmail type="email" class="form-control" id="" placeholder="Enter email">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="forgotPassword(forgotPassEmail.value)">{{'forgotPasswordForm.submit'|translate}}</button>
            </div>
        </div>
    </div>
</div>