<h2 class="text-center display-4 font-weight-bold my-5">{{'dashboard.productsTitle'|translate}}</h2>

<button class="btn btn-primary mb-2 dBAddNewBtn" data-toggle="modal" data-target="#addAndUpdateModel" (click)="openAddProductModal()">
    {{'dashboard.new'|translate}}
</button>
<table class="table table-bordered table-hover" *ngIf="hasProducts">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{'dashboard.productsName'|translate}}</th>
            <th scope="col">{{'dashboard.productsImage'|translate}}</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of allProducts;let i=index">
            <th scope="row">{{i+(pageSize*(currentPageNumber-1))+1}}</th>
            <td *ngIf="siteLang =='en'">{{ product.name }}</td>
            <td *ngIf="siteLang =='ar'">{{ product.nameAr }}</td>
            <td>
                <div class="dashboardImgWrapper">
                    <img class="img-thumbnail img-fluid w-100" [src]="createImgPath(product.image)" alt="category image">
                </div>
            </td>
            <td>
                <button class="btn btn-success mx-2" data-toggle="modal" data-target="#addAndUpdateModel" (click)="openUpdateProductModal(product.id)">{{'dashboard.update'|translate}}</button>
                <button class="btn btn-danger mx-2" (click)="openDeleteProductModal(product.id)" data-toggle="modal" data-target="#deleteModel">{{'dashboard.delete'|translate}}</button>
            </td>
        </tr>
    </tbody>
</table>
<!-- pagination -->
<nav aria-label="..." *ngIf="hasProducts">
    <div class="d-inline-block">
        <ul class="pagination">
            <li class="page-item" [ngClass]="{disabled:currentPageNumber <=1, cursorNotAllowed:currentPageNumber <=1}">
                <button class="page-link" [disabled]="currentPageNumber <=1" (click)="getSelectedPage(currentPageNumber-1)">{{'dashboard.previos'|translate}}</button>
            </li>
            <li class="page-item" *ngFor='let x of counter(numberOfPages) ;let i = index' [class.active]="currentPageNumber == (i+1)">
                <a class="page-link" (click)="getSelectedPage(i+1)">{{i+1}} </a>
            </li>
            <li class="page-item" [ngClass]="{disabled:currentPageNumber >=numberOfPages, cursorNotAllowed:currentPageNumber >=numberOfPages}">
                <button class="page-link" [disabled]="currentPageNumber >= numberOfPages" (click)="getSelectedPage(currentPageNumber+1)">{{'dashboard.next'|translate}}</button>
            </li>
        </ul>
    </div>
    <div class="float-right h5 mr-4 text-secondary">{{'dashboard.showing'|translate}} {{currentPageNumber}} {{'dashboard.of'|translate}} {{numberOfPages}}</div>
</nav>
<!-- no items to show alert -->
<div class="row" *ngIf="!hasProducts">
    <div class="text-center alert alert-danger col-9 mx-auto">
        {{'dashboard.noProducts'|translate}}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addAndUpdateModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{actionName}} {{'dashboard.Form.title'|translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <form [formGroup]="productForm">
                <div class="modal-body">
                    <div class="form-group my-3">
                        <input formControlName="name" type="text" class="form-control" placeholder="Name" name="name" [class.is-invalid]="formFields.name?.invalid && formFields.name?.touched">
                    </div>
                    <div class="form-group my-3">
                        <input formControlName="nameAr" type="text" class="form-control" placeholder="Arabic Name" name="nameAr" [class.is-invalid]="formFields.nameAr?.invalid && formFields.nameAr?.touched">
                    </div>
                    <div class="form-group my-3">
                        <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #addOrUpdateModelCloseBtn>{{'dashboard.Form.close'|translate}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="loading" (click)="onAddOrUpdateSubmit()"> {{actionName}} </button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-confirm-modal></app-confirm-modal>