<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="">{{'dashboard.visitSite'|translate}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link" (click)="logoutUser()">{{'dashboard.logout'|translate}}</a>
        </li>
        <li class="ml-5">
          <select class="form-control" aria-labelledby="navbarDropdown" 
           (change)="changeLang($event.target.value)">
             <option value="en" [selected]="siteLang =='en' ">English</option>
             <option value="ar" [selected]="siteLang =='ar' ">عربي</option> 
           </select>
       </li>
      </ul>
    </div>
  </div>
</nav>
