<nav class="dashboardSideBar bg-dark border-top">
    <ul class="list-unstyled pt-5 pl-3">
        <li> 
            
            <a routerLink="product"> <i class="fas fa-border-all"></i> {{'dashboard.products'|translate}}</a>
        </li>
    </ul>
</nav>
