<nav class="navbar navbar-expand-lg navbar-dark py-1 py-md-2 fixed-top text-capitalize w-100">
    <a class="navbar-brand ml-lg-5 ml-sm-0" routerLink="">Style<span>ford.</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-mobile" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="container-md">
        <div class="collapse navbar-collapse col-xs-12" id="nav-mobile">
            <ul class="navbar-nav mx-auto font-weight-bold">
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/">{{'navbar.shop'|translate}}</a>
                </li>
                <li class="nav-item px-2" *ngIf="isUserLoggedIn()">
                    <a class="nav-link" routerLink="/myorders">{{'navbar.myOrders'|translate}}</a>
                </li>
                <li class="nav-item px-2" *ngIf="isUserAdmin()">
                    <a class="nav-link" routerLink="/dashboard">{{'navbar.dashboard'|translate}}</a>
                </li>
                <li class="nav-item px-2" *ngIf="!isUserLoggedIn()">
                    <a class="nav-link" routerLink="/login">{{'navbar.login'|translate}}</a>
                </li>
                <li class="nav-item px-2" *ngIf="!isUserLoggedIn()">
                    <a class="nav-link" routerLink="/register">{{'navbar.register'|translate}}</a>
                </li>
                <li class="nav-item px-2" *ngIf="isUserLoggedIn()">
                    <a class="nav-link" (click)="logoutUser()">{{'navbar.logout'|translate}}</a>
                </li>
                <li class="ml-5">
                   <select class="form-control" aria-labelledby="navbarDropdown" 
                    (change)="changeLang($event.target.value)">
                      <option value="en" [selected]="siteLang =='en' ">English</option>
                      <option value="ar" [selected]="siteLang =='ar' ">عربي</option> 
                    </select>
                </li>
            </ul>
        </div>
    </div>
</nav>